body {
  background-color: rgb(246, 252, 255);
}

#profile-card {
  padding: 30px 30px 20px 30px;
  margin: 60px 10px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #c6c6c6;
}

.user-profile-pic {
  border-radius: 150%;
}

.kontak {
  display: flex;
  column-gap: 20px;
  padding-top: 30px;
}

.btn {
  padding: 8px 15px;
}

.btn-primary {
  padding-inline: 20px;
  color: #fff;
}

.info p {
  line-height: 1;
}

.info-bold {
  font-weight: bold;
}

#form {
  padding: 30px 25px;
  margin: 60px 10px;
  background-color: #fff;
  box-shadow: 1px 1px 5px #c6c6c6;
}

label {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px 10px;
}
